.container  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form div {
  margin: 5px;
}

.form button {
  margin: 5px;
}

input {
  margin: 5px;
}

.errorMessage {
  color: rgb(255, 57, 57);
  font-weight: 600;
  transition: all 1s;
  margin-top: 10px;
}

.connectedMessage {
  color: #5CB85C;
  font-weight: 600;
  transition: all 1s;
  margin-top: 10px;
}

img {
  display: block;
}